body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-inner .container {
    background: url("/Content/images/hrm-icon.png") no-repeat top 4px left 1px;
}

@media(max-width: 980px) {
    body {
        padding-top: 0; 
    }
}

@media (max-width: 480px) {
    .nav-tabs > li {
        float:none;
    }
}