@{
    ViewBag.Title = "VTEX.HRM - Application Heart Rate Monitor";
}
@section featured {}

@section styles
{

}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/angular-strap.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-resource.js"></script>
    <script type="text/javascript" src="~/App/js/services.js"></script>
    <script type="text/javascript" src="~/App/js/controllers.js"></script>
}

<div class="container">

    <div ng-view></div>

</div>