<section id="analysisDetailContainer">

    <div ng-show="analysisId && !analysisDetail" class="alert alert-info">
        Carregando análise...
    </div>

    <div ng-show="analysisDetail">

        <div class="page-header">
            <h1>Análise - Detalhe
               
                <small></small>
            </h1>
        </div>

        <div class="btn-group pull-right">
            <a class="btn" style="border-top-left-radius: 0" href="/api/analysis/{{analysisDetail.analysisresult.sensor_pk}}/?analysisId={{analysisId}}">{ json : source }</a>
            <a class="btn btn-info" style="border-bottom-right-radius: 0" href="#/resources/analysis/{{analysisDetail.analysisresult.sensor_pk}}"><i class="icon-list icon-white"></i>&nbsp; ver histórico</a>
        </div>

        <div class="well well-large" style="background: white">
            <b>Status</b>: 
           
            <pre>{{analysisDetail.firststatusdesc}} - {{analysisDetail.firststatusdesclong}}</pre>

            <b>Status de Confirmação</b>:
            <pre>{{analysisDetail.confirmstatusdesc}} - {{analysisDetail.confirmstatusdesclong}}</pre>

            <b>Tipo</b>:
            <pre>{{analysisDetail.analysisresult.analysis_type}}</pre>

            <b>Disparado em</b>:
            <pre>{{analysisDetail.analysisresult.time_triggered | unixDate}}</pre>
        </div>

        <div class="well" style="background: white">
            <ul class="nav nav-tabs" id="checkTabsList">
                <li ng-repeat="task in analysisDetail.analysisresult.tasks" ng-class="{active:task==analysisDetail.analysisresult.tasks[0]}">
                    <a showtab href="#task-{{task.analyzer_id}}">{{(probes | filter:{id : task.analyzer_id})[0].name }}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" ng-repeat="task in analysisDetail.analysisresult.tasks" id="task-{{task.analyzer_id}}" ng-class="{active:task==analysisDetail.analysisresult.tasks[0]}">
                    <p>
                        <b>Início</b>:
                        <pre>{{task.time_start | unixDate}}</pre>

                        <b>Fim</b>:
                        <pre>{{task.time_end | unixDate}}</pre>

                        <b>Status</b>:
                        <pre>{{task.status}}</pre>

                        <b>Mensagem</b>:
                        <pre>{{(task.result | filter:{name:'message'})[0].value}}</pre>
                    </p>
                    <p>
                        <div ng-show="taskCommunicationLog(task)">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a showtab href="#request-{{task.analyzer_id}}">Requisição</a>
                                </li>
                                <li>
                                    <a showtab href="#headers-{{task.analyzer_id}}">Cabeçalhos</a>
                                </li>
                                <li>
                                    <a showtab href="#content-{{task.analyzer_id}}">Conteúdo</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="request-{{task.analyzer_id}}">
                                    <pre>{{taskCommunicationLog(task).request}}</pre>
                                </div>
                                <div class="tab-pane" id="headers-{{task.analyzer_id}}">
                                    <pre><ul><li ng-repeat="header in taskCommunicationLog(task).response_headers"><strong>{{header.name}}</strong>: {{header.value}}</li></ul></pre>
                                </div>
                                <div class="tab-pane" id="content-{{task.analyzer_id}}">
                                    <pre>{{taskCommunicationLog(task).response_content | jsonFormatter}}</pre>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
