<section id="analysisDetailContainer">

    <div ng-show="analysisId && !analysisDetail" class="alert alert-info">
        <i class="icon-spinner icon-spin"></i> Carregando análise...
    </div>

    <div ng-show="analysisDetail">

        <div class="page-header">
            <h1>Análise <small>// {{check.name}}</small>
            </h1>
        </div>
        <div class="btn-group pull-right">
            <a class="btn" style="border-bottom-left-radius: 0" href="/api/analysis/{{analysisDetail.analysisresult.sensor_pk}}/?analysisId={{analysisId}}">{ json : source }</a>
            <a class="btn btn-info" style="border-bottom-right-radius: 0" href="#/resources/analysis/{{analysisDetail.analysisresult.sensor_pk}}"><i class="icon-list icon-white"></i>&nbsp; ver histórico</a>
        </div>

        <div class="clearfix"></div>

        <div class="well background-white" style="border-top-right-radius: 0">
            <div class="row-fluid">
                <div class="span6 well">
                    <b>Status</b>:
                    <pre class="background-white">{{analysisDetail.firststatusdesc}} - {{analysisDetail.firststatusdesclong}}</pre>
                    <b>Status de Confirmação</b>:
                    <pre class="background-white">{{analysisDetail.confirmstatusdesc}} - {{analysisDetail.confirmstatusdesclong}}</pre>
                </div>
                <div class="span6 well">
                    <b>Tipo</b>:
                    <pre class="background-white">{{analysisDetail.analysisresult.analysis_type}}</pre>
                    <b>Disparado em</b>:
                    <pre class="background-white">{{analysisDetail.analysisresult.time_triggered | unixDate}}</pre>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs detail-tabs" id="checkTabsList">
            <li ng-repeat="task in analysisDetail.analysisresult.tasks" ng-class="{active:task==analysisDetail.analysisresult.tasks[0]}">
                <a showtab href="#task-{{task.analyzer_id}}">
                    <img ng-src="https://my.pingdom.com/images/flags/{{probe(task).countryiso.toLowerCase()}}.png" alt="{{probe(task).name}}" />
                    {{probe(task).name}}
                </a>
            </li>
        </ul>
        <div class="tab-content detail">
            <div class="tab-pane" ng-repeat="task in analysisDetail.analysisresult.tasks" id="task-{{task.analyzer_id}}" ng-class="{active:task==analysisDetail.analysisresult.tasks[0]}">
                <p>
                    <div class="row-fluid">
                        <div class="span6 well">
                            <b>Análise iniciada em </b>
                            <pre class="background-white">{{task.time_start | unixDate}}</pre>
                            <b>Fim</b>:
                            <pre class="background-white">{{task.time_end | unixDate}}</pre>
                        </div>
                        <div class="span6 well">
                            <b>Status</b>:
                            <pre class="background-white">{{task.status}}</pre>
                            <b>Mensagem</b>:
                            <pre class="background-white">{{(task.result | filter:{name:'message'})[0].value}}</pre>
                        </div>
                    </div>
                </p>
                <p>
                    <div ng-show="communicationLog(task)">
                        <ul class="nav nav-tabs detail-tabs">
                            <li class="active">
                                <a showtab href="#request-{{task.analyzer_id}}">
                                    <i class="icon-exchange"></i>
                                    Requisição
                                </a>
                            </li>
                            <li>
                                <a showtab href="#headers-{{task.analyzer_id}}">
                                    <i class="icon-list"></i>
                                    Cabeçalhos
                                </a>
                            </li>
                            <li>
                                <a showtab href="#content-{{task.analyzer_id}}">
                                    <i class="icon-file"></i>
                                    Conteúdo
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content detail">
                            <div class="tab-pane active" id="request-{{task.analyzer_id}}">
                                <pre>{{communicationLog(task).request}}</pre>
                            </div>
                            <div class="tab-pane" id="headers-{{task.analyzer_id}}">
                                <pre><ul><li ng-repeat="header in communicationLog(task).response_headers"><strong>{{header.name}}</strong>: {{header.value}}</li></ul></pre>
                            </div>
                            <div class="tab-pane" id="content-{{task.analyzer_id}}">
                                <pre>{{communicationLog(task).response_content | jsonFormatter}}</pre>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
        <back-to-top text="voltar ao topo"/>
    </div>
</section>
