<section id="analysisDetail" ng-controller="AnalysisDetailCtrl">
    <ul class="breadcrumb">
        <li><a href="#/">Home</a> <span class="divider">/</span></li>
        <li><a href="#/resources">Resources</a> <span class="divider">/</span></li>
        <li><a href="#/checks">Analysis</a> <span class="divider">/</span></li>
        <li class="active">{{check.name}}</li>
    </ul>

    <div ng-show="!analysisId && !analysisHistory" class="alert alert-info">
        <i class="icon-spinner icon-spin"></i> Carregando histórico de análises para {{check.name}}...
    </div>

    <div id="analysisHistoryContainer" ng-show="analysisHistory">

        <div class="page-header">
            <h1>Histórico de Análises <small>// {{check.name}}</small></h1>
        </div>

        <div class="btn-group pull-right">
            <a class="btn" href="/api/analysis/{{check.id}}">{ json : source }</a>
        </div>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="hidden-phone">Id</th>
                    <th>Primeiro Teste</th>
                    <th>Teste de Confirmação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="analysis in analysisHistory" ng-click="goToDetail(analysis)" style="cursor: pointer">
                    <td class="hidden-phone">{{analysis.id}}</td>
                    <td>{{analysis.timefirsttest | unixDate}} </td>
                    <td>{{analysis.timeconfirmtest | unixDate}} </td>
                    <td>
                        <a class="btn" href="#/resources/analysis/{{check.id}}/?analysisId={{analysis.id}}" title="visualizar detalhes da análise">
                            <span class="hidden-phone">detalhe</span> <i class='icon-search'></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <analysis-detail analysis-detail="analysisDetail" probes="probes" analysis-id="analysisId" check="check" />

</section>
