<section id="checksDetail" ng-controller="ChecksDetailCtrl">
    <div class="page-header">
        <h1>{{check.name}}
            <small>
                <a href="/api/checks/{{check.id}}" target="_blank">/api/checks/{{check.id}}</a>
            </small></h1>
    </div>

    <span ng-show="!check">Loading check...</span>

    <ul ng-show="check">
        <li>Nome: {{check.name}}
        </li>
        <li>CheckUrl: {{check.hostname + check.type.http.url}}</li>
        <li>Status: {{check.status}}</li>
        <li>Created: {{check.created | unixDate}}</li>
    </ul>

</section>
