<section id="checks" ng-controller="ChecksCtrl">

    <div class="page-header">
        <h1>Checks <small><a href="/api/checks" target="_blank">/api/checks</a></small></h1>
    </div>

    <span ng-show="!all">Loading checks...</span>

    <div id="checkTabs" ng-show="all">

        <ul class="nav nav-tabs" id="checkTabsList">

            <li ng-repeat="tab in tabs | orderBy:'position'" ng-class="{active: tab.active}">
                <a showtab href="#filtered" ng-click="paneOptions(tab);">{{tab.label}} <span class="badge {{tab.badgeStyle}}">{{tab.checks.length}}</span>
                </a>
            </li>

        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="filtered">
                <p>
                    <div class="alert {{paneOptions().alertStyle}}">
                        <strong>{{paneOptions().tabName}}</strong> Services.
                    </div>

                    <div>
                        <input class="input-large" ng-model="query" type="text" placeholder="filtrar resultado" />
                        <p>
                            <span class="muted" ng-show="query.length>0">itens encontrados <span class="badge" ng-class="{'badge-important':(paneOptions().filtered | filter:query).length==0}">{{(paneOptions().filtered | filter:query).length}}</span>
                            </span>
                        </p>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <th>
                                <span style="cursor: pointer" ng-click="predicate='id'; reverse=!reverse">
                                    <a>ID <i ng-show="predicate=='id'" ng-class="{true:'icon-chevron-up', false:'icon-chevron-down'}[!reverse]"></i></a>
                                </span>
                            </th>
                            <th>
                                <span style="cursor: pointer" ng-click="predicate='name'; reverse=!reverse">
                                    <a>Nome <i ng-show="predicate=='name'" ng-class="{true:'icon-chevron-up', false:'icon-chevron-down'}[!reverse]"></i></a>
                                </span>
                            </th>
                            <th>
                                <span style="cursor: pointer" ng-click="predicate='hostname'; reverse=!reverse">
                                    <a>Host <i ng-show="predicate=='hostname'" ng-class="{true:'icon-chevron-up', false:'icon-chevron-down'}[!reverse]"></i></a>
                                </span>
                            </th>
                            <th>Status</th>
                            <th>A&ccedil;&otilde;es</th>
                        </thead>
                        <tbody>
                            <tr class="warning" ng-show="(paneOptions().filtered | filter:query).length==0">
                                <td colspan="5" class="muted" style="text-align: center">nenhum resultado encontrado
                                </td>
                            </tr>
                            <tr ng-click="detail({{check.id}})" ng-repeat="check in paneOptions().filtered | filter:query | orderBy:predicate:reverse" ng-class="{error: check.status=='down'}">
                                <td>{{check.id}}</td>
                                <td>{{check.name}}</td>
                                <td>{{check.hostname}}</td>
                                <td>
                                    <img ng-src="Content/images/status-{{check.status}}.png" alt="{{check.status}}" /></td>
                                <td>
                                    <a href="#/resources/checks/{{check.id}}">detalhe <i class='icon-share-alt'></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>

        </div>
    </div>

</section>
